extends ../index.pug

block variables
  - var template = 'about'

block content
  section.about(data-background="#fffafa" data-color="#0d0d0d")
    .container
      .about_title_wrapper(style="height: 60vh;")
        img.about_title_image(data-src="images/portal2red.png", style="width: 100%; object-fit: cover;")
        .about_title_text
          //- h1.title_1 Vem vi är
          //- h2.title_2 Stylister Kreatörer Designers

      .about_subtitle
        h1.title_3(data-animation="title") Välkommen till Salong Tanova!
        p(data-animation="title")
          | Salongen grundades år 2024 av mig, Tanja Jovanova. Med över ett decenniums erfarenhet inom frisöryrket har jag en passion för 
          | att skapa fantastiska och personliga upplevelser för mina kunder. Mitt mål är att erbjuda högkvalitativa tjänster och skapa en 
          | frisörsalong där varje besök blir en minnesvärd upplevelse.
          br
          | Min resa inom frisörbranschen började för många år sedan med en brinnande passion för skönhet och kreativitet. 
          | Efter år av hårt arbete och dedikation har jag följt min dröm att öppna min egen salong, där jag kan förverkliga 
          | min vision av personlig service och skönhetstjänster av högsta kvalitet.
          br
          | På Salong Tanova är varje kund unik, och vi strävar alltid efter att förstå och uppfylla våra kunders individuella behov och önskemål. 
          | Oavsett om det handlar om en ny frisyr, färgbehandling eller styling, kommer vi att arbeta med dig för att skapa en look som passar din personlighet och livsstil. 
          | Här kan du förvänta dig en professionell och vänlig atmosfär där du kan slappna av och känna dig väl omhändertagen.
          br
          | Tack för att du väljer oss för dina skönhetsbehov. 
          | Vi ser fram emot att välkomna dig och skapa en fantastisk upplevelse tillsammans!
          br
          | Varmt välkommen,
          br
          | Tanja Jovanova
          br
          | Grundare, Salong Tanova

      .about_content
        - var images = []
        - images.push({ src: "images/about2red.png", name: "Tanja Jovanova", role: "Frisör/Grundare", alt: "About Us", text: "Jag är Tanja Jovanova, grundaren av Salong Tanova. Att driva min egen salong har varit min dröm och mitt mål sedan jag först började arbeta som frisör för över ett decennium sedan. Mitt hjärta har alltid klappat extra för detta yrke - att få skapa och förvandla med bara några klipp och penseldrag är en känsla som jag inte kan få nog av. Arbetet som frisör har varit en passion som jag har följt ända sedan jag var ung. Att få hjälpa människor att känna sig vackra och självsäkra genom att lyfta deras naturliga skönhet är en underbar känsla. Varje dag får jag möjligheten att arbeta med fantastiska människor och skapa magi med deras hår. Att se mina kunders leenden när de lämnar salongen, med ett självförtroende som strålar ut, är den allra högsta belöningen för mitt arbete.", alignment: "right"})
        - images.push({ src: "images/about1red.png", name: "Sofia Dzudovic", role: "Frisör/Junior",alt: "About Us", text: "Mitt namn är Sofia och jag är 21 år gammal. Jag tog studenten från frisörprogrammet år 2022 och har sedan dess jobbat som frisör i ungefär ett år. Nu har jag äntligen hittat till Salong Tanova, en salong som matchar min passion för yrket och där jag verkligen känner att jag kan utvecklas. Jag inspireras dagligen av mina härliga kollegor och den positiva atmosfären på salongen. Jag ser fram emot att möta dig och ge dig en personlig och professionell hårvårdsupplevelse!", alignment: "left"})
        - images.push({ src: "logo/keune.png", alt: "About Us", text: "Sedan 1922 har vi tillverkat hårprodukter för proffs. Men vi är så mycket mer än bara en leverantör. Alla salonger som jobbar med oss är en del av familjen Keune. Vi säger det inte bara för att vi är ett familjeföretag, utan för att det passar vår stil. Vi vill bara det bästa för dig när du sitter i en av våra stolar. Det är därför vi gör affärer med en personlig touch.", alignment: "right"})

        each item, index in images
          .about_content_item(class=item.alignment === 'left' ? 'about_content--left' : 'about_content--right')
            if item.alignment === 'left'
              img(data-animation="image" data-src=item.src alt=item.alt)
              .about_text
                h1.text_h1(data-animation="title")= item.name
                role.text_role(data-animation="title")= item.role
                p.text_p(data-animation="paragraph")= item.text
            else
              .about_text
                h1.text_h1(data-animation="title")= item.name
                role.text_role(data-animation="title")= item.role
                p.text_p(data-animation="paragraph")= item.text
              img.about_img(data-animation="image" data-src=item.src alt=item.alt)

      .about_text_bottom
        p
          | Välkommen till Salong Tanova! 
          hr
          | Tanja Jovanova, Grundare
      .footer 
        .footer_box
            .footer_link
                a(class='button' href='https://www.instagram.com/salongtanova?igsh=MTJ1cjRpZWo0dmUzcw==')
                    h3 Följ oss
                    p Instagram
            .footer_link
                a(class='button' href='/about')
                    h3 Om oss
                    p about us
            .footer_link
                a(class='button' href='https://www.google.com/maps/place/Regementsgatan+58,+217+51+Malmö/@55.5985142,12.9819025,19.75z/data=!4m6!3m5!1s0x4653a6ac7c9efa69:0x3ddb2543336e82b9!8m2!3d55.5984902!4d12.9819711!16s%2Fg%2F11c28vqjc1?entry=ttu')
                    h3 Hitta oss
                    p Our location 
            .footer_link
                a(class='button' href='tel:040420045') 
                    h3 Kontakt
                    p Tel: 040420045
        .footer_ma
            p &copy; 2024 Web development & design by STUDIO B @Brank0M